/****** General ***********/
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --neutral-color: black;

    --fw-regular: 400;
    --fw-bold: 700;

}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.fa-solid {
    color: var(--main-color);
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    hyphens: auto;
}

/* general styling */

body {
    font-weight: var(--fw-regular);
    color: var(--neutral-color);
    font-size: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/* header */
header{
    display: flex;
    justify-content: space-between;
	flex-wrap: wrap;
    /*height: 79px;*/
}

.blocimg{
    margin: 30px 50px;
}

.logo{
    height: 19px;
    /*margin-left: auto;  
    margin-right: auto;*/  
}


nav ul{
    display: flex;
    list-style-type:none;
    /*gap: 1em;*/
    gap: 68px;
    padding: 0 50px;
}

nav ul li a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    font-size: inherit;
}

nav ul li {
    font-size: 1rem;
    padding-top: 9px;
    border-top:2px solid transparent;
}

nav ul li:hover {
    border-top:2px solid var(--main-color);
    color: var(--main-color);

}

main {
    display: flex;
    margin-top: 30px;
    gap: 35px;
    flex-direction: column;
    padding: 0px 50px;
}

.flex-group {
    flex-direction: row;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    font-size: 1.375rem;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

.search-and-filter {
    /*white-space: pre-wrap;*/
    margin-top: 0;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
}

.hebergements-cards .card {
    display: flex;
    margin-top: 33px;
    /*width: 30%;*/
    flex-basis : 0;
    flex-grow: 1;
    flex-flow: row wrap;
}

.hebergements-cards img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}