/****** General ***********/
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --neutral-color: black;

    --fw-regular: 400;
    --fw-bold: 700;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

img, picture, video, canvas, svg, i {
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    hyphens: auto;
}

html {
    margin: 0;
    padding: 0;
}
/* general styling */

body {
    font-weight: var(--fw-regular);
    color: var(--neutral-color);
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-size: 1.375rem; /*22px*/
}

h3 {
    font-size: 1rem; /*16px*/
}

h4 {
    font-size: 1.125rem; /*18px*/
}

.fa-solid {
    color: var(--main-color);
}

/* header */
header{
    display: flex;
    justify-content: space-between;
	flex-wrap: wrap;
}

.blocimg{
    margin: 30px 50px;
}

.logo{
    height: 19px;
}


header nav ul{
    display: flex;
    list-style-type:none;
    /*gap: 1em;*/
    gap: 68px;
    padding: 0 50px;
}

header nav ul li a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    font-size: inherit;
}

header nav ul li {
    font-size: 1rem;
    padding-top: 9px;
    border-top:2px solid transparent;
}

header nav ul li:hover {
    border-top:2px solid var(--main-color);
    color: var(--main-color);
}

/****** main ***********/

main {
    display: flex;
    margin-top: 30px;
    gap: 35px;
    flex-direction: column;
    margin: 0px 50px;
}

.headline-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.search-and-filter {
    margin-top: 0;
    gap: 35px;
    display: flex;
    flex-direction: column;
}



.search-container {
    display: flex;
    flex-direction: row;
    font-weight: var(--fw-bold);
    font-size: 1.125rem; /*18px*/
    height: 49px;
}

.icon-container {
    color: black;
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    border: none;
    border-radius: 15px 0 0 15px;
}
.icon-location {
    display: flex;
    color: black;
}

form {
	display: flex;
}

.form{
    border-color: var(--main-bg-color);
    border-style: solid;
    border-width: 2px 0px 2px 0px;
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
    outline-color: transparent !important;
}

input::placeholder {
    font: inherit;
    color: black;
    opacity: 1;
}


.search-button{
    background-color: var(--main-color);
    border: none;
    /*padding: 1rem 2rem;*/
    border-radius: 0 15px 15px 0;
    color: white;
}

.icon-magnifying-glass {
    display: none;
    color: white;
}

.filter-container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    font-weight: var(--fw-bold);
    font-size: 1.125rem; /*18px*/
    gap: 15px;
    align-items: center;
}

.button-row {
    display: flex;
    gap: 15px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
}

.button-filter {
    display: flex;
    height: 50px;
    padding: 4px 19px;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    border: 2px solid var(--grey-tint-2, #D9D9D9);
    background-color: white;
}

.button-filter:hover {
    background-color: var(--filter-bg-color);
}

.icon-size-filter {
    font-size: 22px;
}

.info-container {
    display: flex;
    flex-direction: row;
    gap: 10px;    
}

.icon-size-info {
    font-size: 24px;
}

.main-container {
    /*width: 100%;*/
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    gap: 30px; /*was 35 before */
    flex-direction: column;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}



.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
}

.hebergements-cards .card {
    display: flex;
    flex-basis : 0;
    flex-grow: 1;
    flex-flow: row wrap;
}

.hebergements-cards img {
    width: 100%;
    height: 136px;
    border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/****** Activity ***********/

.activity {
    display: flex;
    justify-content: space-between;
}

.activity section {
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.activity-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activity-cards {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
}

.activity-cards .card {
    display: flex;
    flex-basis : 0;
    flex-grow: 1;
    flex-flow: row wrap;
    padding: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0px;
}

.activity-cards img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
}

.activity-cards .card-content {
    display: flex;
    flex-direction: column;
    padding: 20px 19px;
    align-items: flex-start;
    flex-grow: 1;
}


/****** Footer ***********/


footer{
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-around;
}

footer nav ul{
    list-style-type:none;
    display: flex;
    padding: 0;
    flex-direction: column;
    gap: 15px;
}

footer nav ul li a {
    color: inherit; 
    text-decoration: inherit; /* no underline */
    font-size: inherit;
}

footer nav ul li {
    font-size: 1rem;

}

footer nav {
    display: flex;
    justify-content: flex-start;
    display: flex;
    padding: 20px;
    gap: 15px;
    flex: 1 0 0;
    flex-direction: column;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .filter-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .button-container {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 0.875rem; /*14px*/
    }

    .populaires-cards .card-subtitle {
        font-size: 0.813rem; /*13px*/
    }

    .activity-cards img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    main {
        margin: 0;
    }

    .main-container{
        padding: 0;
    }

    header{
        flex-direction: column;
        justify-content: space-evenly;

        align-items: stretch;
        align-self: stretch;
    }
    .blocimg {
        display: flex;
        justify-content: center;
        margin: 0px;
        padding: 30px;
    }

    header nav {
        display: flex;
        justify-content: space-evenly;

        /*align-self: stretch;*/
        align-items: stretch;
    }

    header nav ul{
        display: flex;
        gap: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        flex-grow: 1; /* default 0 */
    }

    header nav ul li {
        display: flex;
        align-items: center;
        align-self: center;
        flex-grow: 1; /* default 0 */
        text-align: center;
        justify-content: center;
        padding-top: 0;
        padding-bottom: 15px;
    }

    header nav ul li:hover {
        border-top: none;
        border-bottom:2px solid var(--main-color);
        color: var(--main-color);
    }

    header nav ul li a {
        text-align: center;
    }

    .search-and-filter {
        margin: 0 20px;
    }

    .form {
        flex-grow: 1;
    }

    form {
        flex-grow: 1;
    }

    .search-button {
        padding: 0 16px;

    }

    .filter-container {
        display: flex;
        flex-direction: column;
        font-weight: var(--fw-bold);
        font-size: 1.125rem; /*18px*/
        flex-wrap: wrap;
        flex: 1;
        align-items: flex-start;

    }    

    .button-container {
        display: flex;
        gap: 10px;
        flex-grow: 1;
        flex-basis: 0;

    }

    .button-row {
        flex-direction: column;
        width: 100%;
    }

    .button-filter {
        display: flex;
        font-size: 14px;
        flex-grow: 1;
        flex-basis: 0;
    }

    .icon-magnifying-glass {
        display: flex;
        color: white;
    }

    .search {
        display: none; 
    }

    .info-container {
        align-items: center;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        margin: 0;
        }

    .hebergements-and-populaires section {

        border-radius: 0;
        }
    
        .hebergements-and-populaires .populaires {
            padding: 30px 20px; 
        }

    .hebergements-and-populaires .hebergements {
        width: 100%;
        margin: 0px;
        border-radius: 0;
        background-color: unset;
        padding: 20px 20px;
    }

    .hebergements-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .hebergements-cards .card {
        width: 100%;
        flex-direction: row;
    }

    .hebergements-cards img {
        height: 121px;
        width: 100%;
    }

    .populaires {
        margin-top: 0;
        border-radius: unset;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 100%;
        flex-direction: row;
    }

    .populaires-cards .card-title {
        font-size: 0.875rem; /*14px*/
    }

    .populaires-cards .card-subtitle {
        font-size: 0.813rem; /*13px*/
    }

    .activity-cards img {
        height: 141px;
    }

    .activity-cards {
        display: flex;
        flex-flow: column wrap;
    }

    footer{
        flex-direction: column;
        padding: 30px;
        gap: 50px;

    }

    footer nav {
        display: flex;
        justify-content: space-evenly;
        display: flex;
        padding: 0px;
        gap: 15px;
        flex: 1 0 0;
        flex-direction: column;
    } 
}